In [11]:
# Initial imports
import os
import pandas as pd
from path import Path
from dotenv import load_dotenv
from newsapi import NewsApiClient

In [12]:
# Load environment variables and retrieve the News API key
load_dotenv()
api_key = os.getenv("NEWS_API_KEY")

In [13]:
 # Create the newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [30]:
 # Fetch news about Australia and property in 2022 in the English language
house_news_en = newsapi.get_everything(
    q="house price AND australia AND 2022",
    language="en"
)

# Show the total number of news
house_news_en["totalResults"]

273

In [31]:
# Function to create a dataframe for news
def create_df(news, language):
    articles = []
    for article in news:
        try:
            title = article["title"]
            description = article["description"]
            text = article["content"]
            date = article["publishedAt"][:10]

            articles.append({
                "title": title,
                "description": description,
                "text": text,
                "date": date,
                "language": language
            })
        except AttributeError:
            pass

    return pd.DataFrame(articles)

In [32]:
house_df = create_df(house_news_en["articles"], "en")

In [33]:
house_df.head()

,title,description,text,date,language
0,Australia's big banks hike fixed-rate home loa...,Two of Australia's biggest home lenders jacked...,"SYDNEY, June 30 (Reuters) - Two of Australia's...",2022-06-30,en
1,Wealth inequality in Australia and the rapid r...,A report launched today by UNSW Sydney and Aus...,A report launched today by UNSW Sydney and Aus...,2022-07-22,en
2,Australia news live updates: house prices dip;...,New data shows two in five properties in Austr...,"Good morning,\r\nTwo in five properties in Aus...",2022-07-22,en
3,The Nordstrom Anniversary Sale Is Back—and The...,"Save on top brands like UGG, The North Face, a...",This article contains affiliate links to produ...,2022-07-15,en
4,"Australia news live: Covid mask warnings, foot...",Anthony Albanese says he hopes there will be n...,Agriculture minister urges travellers to be wa...,2022-07-20,en

In [34]:
house_df.tail()

,title,description,text,date,language
95,"Down 9% in a week, what’s going on with the Ch...",It's been a rough week – and year – for the Ch...,The Chalice Mining Ltd(ASX: CHN) share price h...,2022-06-24,en
96,Exclusive Q&A: Greg Norman's vision for LIV Go...,Greg Norman sold both of his homes in the U.S....,"WEST PALM BEACH About 18 months ago, Greg Norm...",2022-07-19,en
97,Why did the ANZ share price plunge 22% in FY22?,The ANZ share price suffered a major downturn ...,The Australia and New Zealand Banking Group Lt...,2022-07-09,en
98,Asian shares gain as investors shrug off downb...,"Shares were higher in Asia on Friday, despite ...","Shares were higher in Asia on Friday, despite ...",2022-06-24,en
99,Can investors bank on the NAB share price in J...,"After a tough June, we consider if things can ...",The National Australia Bank Ltd (ASX: NAB) sha...,2022-06-30,en

In [36]:
# Save to CSV
file_path = Path("../house_loan_project/house_news.csv")
house_df.to_csv(file_path, index=False, encoding='utf-8-sig')